/*
Purple #8842dc
Blue #2977f5
Green #7ed957
Yellow #ffde59
Orange #EE562F
Red #ff3131
White #fff
Black #000
*/

* {
 /* background-color: #222; */
}
.btn {
  color: #fff;
  background-color: #2977f5;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  cursor: pointer;
  font-family: Inter var, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  border: 0;
  outline: 0;
  font-size: 0.875em;
}

.btn-dark,
.btn-black {
  background-color: #333;
}


.btn-tertiary,
.btn-purple {
  background-color: #8842dc;
}

.btn-green,
.btn-success {  
  background-color: #56bb2b;
}

.btn-warning,
.btn-orange {
  background-color: #f57c00;
}

.btn-red, 
.btn-danger,
.btn-error {
  background-color: #ff3131;
}

.btn-white, 
.btn-light {
  box-sizing: border-box;
  background-color: #fcfcfc;
  color: #000;
  outline: 1px solid #ccc;
}

.btn:not(:disabled):hover {
  background-color: #5a96f7;
}


.btn-black:not(:disabled):hover,
.btn-dark:not(:disabled):hover {
  background-color: #565656;
}


.btn-red:not(:disabled):hover,
.btn-danger:not(:disabled):hover,
.btn-error:not(:disabled):hover {
  background-color: #ff6464;
}

.btn-green:not(:disabled):hover,
.btn-success:not(:disabled):hover {
  background-color: #70d445;
}

.btn-purple:not(:disabled):hover {
  background-color: #a36de4;
}

.btn-orange:not(:disabled):hover,
.btn-warning:not(:disabled):hover {
  background-color: #ff9529;
}

.btn-white:not(:disabled):hover,
.btn-light:not(:disabled):hover {
  background-color: #e8e8e8;
}


.btn:disabled {
  background-color: #9dc1fb;
  cursor: auto;
  font-weight: 600;
}


.btn-black:disabled,
.btn-dark:disabled {
  background-color: #888;
  cursor: auto; 
}


.btn-danger:disabled,
.btn-error:disabled,
.btn-red:disabled {
  background-color: #ff9999;
  cursor: auto; 
}

.btn-green:disabled,
.btn-success:disabled {
  background-color: #a6e58b;
  cursor: auto; 
}


.btn-purple:disabled {
  background-color: #be98ec;
  cursor: auto; 
}

.btn-orange:disabled,
.btn-warning:disabled {
  background-color: #ffc88f;
  cursor: auto; 
}

.btn-white:disabled,
.btn-light:disabled {
  background-color: #ddd;
  color: #fff;
  outline: 0;
  cursor: auto; 
}

.btn-round {
  border-radius: 100vh;
}


.btn.btn-xs {
  padding: 0.25rem 0.5rem;
  font-size: 0.7rem;
}

.btn.btn-sm {
  padding: 0.3rem 0.5rem;  
  font-size: 0.8rem;
}

.btn.btn-md {
  padding: 0.375rem 0.625rem;  
}

.btn.btn-lg {
  padding: 0.5rem 0.75rem;  
  font-size: 1rem;
}

.btn.btn-xl {
  padding: 0.625rem 0.875rem;  
  font-size: 1.25rem;
}